#footer {
    margin-top: 30px;
    padding: 20px;
    color: white;
    background: #333;
    height: 75px;
}

nav {
    margin-bottom: 30px;
}

.card{
    padding: 20px;
}

.wrapper {
    min-height: calc(100vh - 105px);
}

